.header {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 4px;
  background-color: white;
}

.content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--dark-grey);
}

.title {
  margin-right: 16px;
  color: var(--black);
  font-family: var(--font);
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 499px) {
  .header {
    flex-direction: column;
  }

  .title {
    margin-bottom: 8px;
    margin-right: 0;
  }
}
